@import "variables";
@import "base";
@import "fonts";

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --current-text-color: hsla(0, 0%, 0%, 1);
  --main-text-color: hsla(0, 0%, 44%, 1);
  --button-equal-color: hsla(152, 53%, 57%, 1);
  --buttons-main-color: hsla(0, 0%, 95%, 1);
  --bg-gradient: linear-gradient(135.73deg, rgba(86, 203, 149, 0) 5.03%, #39E394 400.89%);
}


body.dark-theme {
  --current-text-color: hsla(0, 0%, 100%, 1);
  --main-text-color: hsla(0, 0%, 100%, 1);
  --button-equal-color: hsla(152, 53%, 57%, 1);
  --buttons-main-color: hsla(0, 0%, 30%, 1);
  --bg-gradient: linear-gradient(135deg, rgba(61,144,106,1) 0%, rgba(52,94,75,1) 40%, rgba(0,0,0,0.851508120649652) 100%);
}

.container {
  max-width: 390px;
  max-height: 844px;
  padding: 1.25rem;
  color: var(--main-text-color);
  background: var(--bg-gradient);
  transition: .3s ease;
}

.topbar {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.panel {
  margin-top: 4rem;
  text-align: right;
  background-color: transparent;

  &__back {
    font-size: 2rem;
  }

  &__main {
    font-size: 7rem;

    &-input {
      text-align: right;
      width: 100%;
      background: transparent;
      color: var(--current-text-color);


      &::placeholder {
        color: var(--current-text-color);
        font-size: 7rem;
      }

    }
  }
}

.num {

  &__grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    &-second {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 1rem;

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }

      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }

      .div3 {
        grid-area: 1 / 3 / 2 / 4;
      }

      .div4 {
        grid-area: 1 / 4 / 3 / 5;
        height: 100%;
        background-color: var(--button-equal-color);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      }

      .div5 {
        grid-area: 2 / 3 / 3 / 4;
      }

      .div6 {
        grid-area: 2 / 1 / 3 / 3;
        width: 100%;
      }
    }

    &-item {
      width: 4.5rem;
      height: 4.5rem;
      align-items: center;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      color: var(--main-text-color);
      border-radius: 1rem;
    }
  }

  button {
    background-color: var(--buttons-main-color);
    transition: .3s;

  }



}

